<?xml version="1.0" encoding="utf-8" ?>
<config>
    <fieldset name="message" label="COM_BOARD_CONFIG_NAME_SETTINGS_LABEL" description="COM_BOARD_CONFIG_NAME_SETTINGS_DESC">
        <field name="show_category" type="list" label="COM_BOARD_CATEGORY_FIELD_SHOW_CATEGORY_LABEL" description="COM_BOARD_CATEGORY_FIELD_SHOW_CATEGORY_DESC" default="0">
            <option value="0">JHIDE</option>
            <option value="1">JSHOW</option>
        </field>
        <field name="img_path" type="text" label="COM_BOARD_FIELD_IMGPATH" description="COM_BOARD_FIELD_IMGPATH_DESC" default="images" required='true' />

        <field name="img_thumb" type="text" label="COM_BOARD_FIELD_IMGTHUMBSPATH" description="COM_BOARD_FIELD_IMGPATH_DESC" default="thumbs" required='true' />
    </fieldset>
    <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">

        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                validate="rules"
                filter="rules"
                component="com_board"
                section="component"
        />

    </fieldset>
</config>